<ion-view view-title="BLE-Central">
 	<ion-content>
  		<div class="container align-center">
	  		<div class="description">
	  			<i class="icon ion-bluetooth"></i><br>
	  			Scan for Bluetooth Low Energy (BLE) peripheral devices with or without a Service UUID
	  		</div>
	  		<div class="list">
				<label class="item item-input">
					<span class="input-label">Peripheral's Service UUID</span>
    				<input ng-model="serviceUuid" type="text" spellcheck="false" autocorrect="off" autocomplete="off" placeholder="Blank">
				</label>
			</div>
			<div class="{{scanStatus.phase}}">
				{{scanStatus.text}}
			</div>
			<div id="peripheral-list" class="hidden">
				<div class="card" ng-repeat="device in blePeripherals" ng-click="connect(device.id, device.name)">
					<div class="item item-divider">
						{{device.name}}
					</div>
					<div class="item item-text-wrap align-left">
						RSSI: {{device.rssi}}<br>DEVICE ID: {{device.id}}
					</div>
				</div>
			</div>
			<button class="button button-block button-balanced" ng-disabled="{{isScanBtnDisabled}}" ng-click="scan(serviceUuid)">
				Scan
			</button>
		</div>
 	</ion-content>
</ion-view>
